.card__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 27rem;
  background-color: white;
  border: 1px solid #eeeeee;
  text-decoration: none;
}

.img__container {
  width: 100%;
  height: 15rem;
  padding: 0.5rem;
}

.card__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card__wrapper .title{
  font-size: 1.4rem;
  text-transform: capitalize;
  padding: 0 0.5rem;
  color: black;
  font-weight: 600;
}

.rating__container {
  margin: 0.6rem 0;
}

.card__wrapper .price{
  font-size: 1.35rem;
  margin: 0.6rem 0;
  text-transform: capitalize;
  color: black;
  font-weight: 500;
}

.shiping__cost {
  font-size: 1.4rem;
  color: #6fa616;
  text-transform: capitalize;
  margin: 0.6rem 0;
}

.card__wrapper .btn {
  background-color: #4834d4;
  color: white;
  border-radius: 1rem;
  font-size: 1.4rem;
  margin: 0.65rem 0;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 1rem auto;
  width: 80%;
  text-transform: uppercase;
  font-weight: bold;
}

@media (min-width: 200px) and (max-width: 499px) {
}

@media (min-width: 500px) and (max-width: 599px) {
}

@media (min-width: 600px) and (max-width: 1023px) {
}
