.forget__password__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex:1;
}

.modal__dialog {
  padding: 2rem;
  border-radius: 5px;
  position: relative;
  background-color: white;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
}
.modal__header{
  margin:1.5rem 0;
}
.modal__title {
  text-align: center;
  font-size: 1.7rem;
  text-transform: capitalize;
  font-weight: 600;
}

.forget__password__form {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}

.forget__password__form .form__label {
  margin: 1rem 0;
  font-size: 1.5rem;
}

.forget__password__form .form__input {
  padding: 0.5rem;
  font-size: 1.67rem;
  border: 0.2px solid #403737;
  outline: none;
  border-radius: 2px;
}

.modal__footer .btn {
  background-color: #4834d4;
  color: white;
  padding: 0.8rem 1rem;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 1.35rem !important;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1.5rem;
  width: 100%;
  text-transform: capitalize;
}

.alert__box {
  font-size: 1.37rem;
}

@media (min-width: 200px) and (max-width: 499px) {

  .modal__dialog {
    margin: 3rem;
  }
}

@media (min-width: 500px) and (max-width: 599px) {

  .modal__dialog {
    margin: 3rem;
  }
}

@media (min-width: 600px) and (max-width: 1023px) {
}
